@import '../../../../colors.scss';
@import '../../../../mixins.scss';

.card {
  h3 {
    margin: 0 !important;
    word-wrap: break-word !important;
    color: $dark-gray !important;
    font-size: 1em !important;
  }

  &_wrapper {
    background-color: $white;
    border: 1px solid;
    border-color: #c3c3c3 #c3c3c3 silver;
    cursor: pointer;
    height: 4.5em;
    width: 10.4em;
    border-radius: 10px;
    box-shadow: 0 1px 1px $linkWater;
    font-weight: 800;
    margin: .07em;
    cursor: pointer;
  }

  &_image {
    @include d-flex-all-by-center;
    width: 10em;
  }

  &_header {
    @include d-flex-content-center;
  }
}