<article>
  <section>
    <ng-container *ngIf="branchList$ | async as branchList; else loading">
      <app-select [list]="branchList"></app-select>
    </ng-container>
    <ng-container *ngIf="buildList$ | async as buildList; else loading">
      <app-select [list]="buildList" [isReverse]="true"></app-select>
    </ng-container>
  </section>
  <section class="d-flex">
    <ng-container *ngIf="mainDonat$ | async as mainDonat; else loading">
      <app-donat-chart
        [options]="mainDonat"
        [donatSize]="mainDonatSize"
        [maxWidth]="mainDonatWidth"
        [maxHeight]="mainDonatHeight"
      ></app-donat-chart>
    </ng-container>
    <ng-container
      *ngIf="miniDonatsList$ | async as miniDonatsList; else loading"
    >
      <app-mini-donats [donats]="miniDonatsList"></app-mini-donats>
    </ng-container>
  </section>
</article>

<ng-template #loading> loading... </ng-template>
