/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import './mixins.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.d-flex {
  @include d-flex;
}

.d-flex-wrap {
  @include d-flex-wrap;
}

.d-flex-wrap-center {
  @include d-flex-wrap;
  justify-content: center
}
.d-flex-items-center {
  @include d-flex-align-center;
}

.pt-2em {
  padding-top: 2em;
}